.bp4-dark .canvas {
    background-color: #1C2127 !important;
}

.bp4-dark .left-sidebar,
.bp4-dark .right-sidebar {
    background-color: #2f343c !important;
}

.bp4-dark .topbar-navbar {
    background-color: #2f343c !important;
}