.bp5-dark .canvas {
    background-color: #1C2127;
}

.bp5-dark .left-sidebar,
.bp5-dark .right-sidebar {
    background-color: #252A31 !important;
}

.bp5-dark .topbar-navbar {
    background-color: #252A31 !important;
    box-shadow: 0 3px 6px #1C2127 !important;
}

.bp5-dark input {
    color: #fff !important;
}